* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container-navbar {
  background-color: red;
}
/* CSS FOR SLIDESHOW */
.container-slide {
  display: flex;
}
.container-slide img {
  width: 100%;
  height: 38rem;
  object-fit: cover;
  object-position: top;
}

/* CSS FOR CARD */
.container-card {
  padding: 8rem 6rem 6rem 6rem;
}
.container-card h2 {
  margin-left: 2rem;
  margin-bottom: 0.7rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(15.625rem, 2fr)
  ); /* 250px = 15.625rem */
  gap: 1.25rem; /* 20px = 1.25rem */
}

.card {
  background-color: white;
  border-radius: 0.625rem; /* 10px = 0.625rem */
  padding: 1.25rem; /* 20px = 1.25rem */
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 2px = 0.125rem, 5px = 0.3125rem */
  transition: box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 9.375rem; /* 150px = 9.375rem */
  object-fit: cover;
  border-radius: 0.3125rem; /* 5px = 0.3125rem */
  margin-bottom: 0.9375rem; /* 15px = 0.9375rem */
}

.card h3 {
  margin: 0 0 0.625rem 0; /* 10px = 0.625rem */
}

.card:hover {
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* 5px = 0.3125rem, 15px = 0.9375rem */
}

.promotion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.promotion-card img {
  width: 75rem;
  height: 30rem;
  object-fit: cover;
  color: red;
  border-radius: 2rem;
}
